DATABASE_URL=postgresql://user:password@localhost:5432/tender_intel
LOG_LEVEL=INFO
CONNECTOR_TIMEOUT_SECONDS=20
CONNECTOR_RETRY_ATTEMPTS=3
CONNECTOR_USER_AGENT=TenderIntelBot/1.0
PLAYWRIGHT_FALLBACK=true
TED_API_URL=https://api.ted.europa.eu/v3/notices/search
TED_PAGE_SIZE=250
# Set to 0 for unbounded pagination until source exhausts.
TED_MAX_PAGES=0
TED_QUERY=publication-date>=20240101
CPPP_BASE_URL=https://eprocure.gov.in/eprocure/app
CPPP_MAX_ORG_LINKS=0
CPPP_MAX_RESULTS=0
WORLD_BANK_API_URL=https://search.worldbank.org/api/v2/wds
WORLD_BANK_PAGE_SIZE=250
# Set to 0 for unbounded pagination until source exhausts.
WORLD_BANK_MAX_PAGES=0
WORLD_BANK_QUERY=tender OR procurement OR bid
WORLD_BANK_PROJECTS_URL=https://projects.worldbank.org/en/projects-operations/procurement?srce=both
WORLD_BANK_PROJECTS_MAX_PAGES=0
WORLD_BANK_PROJECTS_MAX_LINKS_PER_PAGE=0
WORLD_BANK_PROJECTS_DETAIL_FETCH_LIMIT=0
WORLD_BANK_RFX_URL=https://wbgeprocure-rfxnow.worldbank.org/rfxnow/public/advertisement/index.html
WORLD_BANK_RFX_MAX_LINKS=0
WORLD_BANK_RFX_DETAIL_FETCH_LIMIT=0
ADB_URLS=https://www.adb.org/business/institutional-procurement/notices,https://www.adb.org/projects/tenders
ADB_MAX_PAGES=0
ADB_MAX_LINKS_PER_PAGE=0
ADB_DETAIL_FETCH_LIMIT=0
AFDB_URL=https://www.afdb.org/en/about-us/corporate-procurement/procurement-notices/current-solicitations
AFDB_MAX_LINKS=0
UNGM_URL=https://www.ungm.org/public/notice
UNGM_MAX_PAGES=0
UNGM_MAX_LINKS_PER_PAGE=0
UNDP_QUANTUM_URL=https://procurement-notices.undp.org/
UNDP_QUANTUM_MAX_LINKS=1200
UNDP_QUANTUM_DETAIL_FETCH_LIMIT=0
IOM_URL=https://www.iom.int/procurement-opportunities
IOM_MAX_LINKS=1200
IOM_DETAIL_FETCH_LIMIT=0
WFP_URL=https://www.wfp.org/procurement
WFP_MAX_LINKS=1200
WFP_DETAIL_FETCH_LIMIT=0
ILO_RSS_URL=https://webapps.ilo.org/webcommon/php/ungm-rss.php
ILO_MAX_ITEMS=0
AIIB_URL=https://www.aiib.org/en/opportunities/business/project-procurement/list.html
AIIB_MAX_LINKS=1200
AIIB_DETAIL_FETCH_LIMIT=0
EBRD_URL=https://www.ebrd.com/home/work-with-us/project-procurement.html
EBRD_MAX_LINKS=500
EBRD_DETAIL_FETCH_LIMIT=0
EC_TED_URL=https://ted.europa.eu/en/browse-by-place-of-performance
EC_TED_MAX_LINKS=0
AFD_URL=https://tenders-afd.dgmarket.com/tenders/brandedNoticeList.do
AFD_MAX_PAGES=0
AFD_MAX_LINKS_PER_PAGE=0
AFD_DETAIL_FETCH_LIMIT=0
GEM_URL=https://bidplus.gem.gov.in/all-bids
GEM_MAX_PAGES=0
GEM_MAX_LINKS_PER_PAGE=0
# Set to 0 for unbounded link extraction per portal.
NIC_MAX_LINKS_PER_PORTAL=0
INTL_MAX_LINKS_PER_PORTAL=0
ADDITIONAL_MAX_LINKS_PER_PORTAL=0
BENCHMARK_MAX_MISSING_ORG_PCT=5
BENCHMARK_MAX_MISSING_COUNTRY_PCT=5
BENCHMARK_MAX_MISSING_CLOSING_PCT=70
# Soft cap for one ingestion run. Set to 0 for no runtime cap.
INGESTION_TIME_BUDGET_SECONDS=1800
BD_KEYWORDS=consultancy,consulting,technical assistance,capacity building,feasibility,monitoring,evaluation
BD_FOCUS_COUNTRIES=india,kenya,ethiopia,somalia,nepal,cambodia
BD_LEADS=Vishal Bhargav,Siddharth
