DATABASE_URL=postgresql://user:password@localhost:5432/tender_intel
LOG_LEVEL=INFO
CONNECTOR_TIMEOUT_SECONDS=20
CONNECTOR_RETRY_ATTEMPTS=3
CONNECTOR_USER_AGENT=TenderIntelBot/1.0
PLAYWRIGHT_FALLBACK=true
TED_API_URL=https://api.ted.europa.eu/v3/notices/search
TED_PAGE_SIZE=250
TED_MAX_PAGES=60
TED_QUERY=publication-date>=20240101
CPPP_BASE_URL=https://eprocure.gov.in/eprocure/app
CPPP_MAX_ORG_LINKS=250
CPPP_MAX_RESULTS=2000
WORLD_BANK_API_URL=https://search.worldbank.org/api/v2/wds
WORLD_BANK_PAGE_SIZE=250
WORLD_BANK_MAX_PAGES=40
WORLD_BANK_QUERY=tender OR procurement OR bid
WORLD_BANK_PROJECTS_URL=https://projects.worldbank.org/en/projects-operations/procurement?srce=both
WORLD_BANK_PROJECTS_MAX_PAGES=20
WORLD_BANK_PROJECTS_MAX_LINKS_PER_PAGE=300
WORLD_BANK_PROJECTS_DETAIL_FETCH_LIMIT=300
WORLD_BANK_RFX_URL=https://wbgeprocure-rfxnow.worldbank.org/rfxnow/public/advertisement/index.html
WORLD_BANK_RFX_MAX_LINKS=500
WORLD_BANK_RFX_DETAIL_FETCH_LIMIT=200
ADB_URLS=https://www.adb.org/business/institutional-procurement/notices,https://www.adb.org/projects/tenders
ADB_MAX_PAGES=20
ADB_MAX_LINKS_PER_PAGE=300
ADB_DETAIL_FETCH_LIMIT=200
AFDB_URL=https://www.afdb.org/en/about-us/corporate-procurement/procurement-notices/current-solicitations
AFDB_MAX_LINKS=500
UNGM_URL=https://www.ungm.org/public/notice
UNGM_MAX_PAGES=20
UNGM_MAX_LINKS_PER_PAGE=300
UNDP_QUANTUM_URL=https://procurement-notices.undp.org/
UNDP_QUANTUM_MAX_LINKS=1200
UNDP_QUANTUM_DETAIL_FETCH_LIMIT=300
IOM_URL=https://www.iom.int/procurement-opportunities
IOM_MAX_LINKS=1200
IOM_DETAIL_FETCH_LIMIT=300
WFP_URL=https://www.wfp.org/procurement
WFP_MAX_LINKS=1200
WFP_DETAIL_FETCH_LIMIT=300
ILO_RSS_URL=https://webapps.ilo.org/webcommon/php/ungm-rss.php
ILO_MAX_ITEMS=1000
AIIB_URL=https://www.aiib.org/en/opportunities/business/project-procurement/list.html
AIIB_MAX_LINKS=1200
AIIB_DETAIL_FETCH_LIMIT=300
EBRD_URL=https://www.ebrd.com/home/work-with-us/project-procurement.html
EBRD_MAX_LINKS=500
EBRD_DETAIL_FETCH_LIMIT=150
EC_TED_URL=https://ted.europa.eu/en/browse-by-place-of-performance
EC_TED_MAX_LINKS=500
AFD_URL=https://tenders-afd.dgmarket.com/tenders/brandedNoticeList.do
AFD_MAX_PAGES=20
AFD_MAX_LINKS_PER_PAGE=300
AFD_DETAIL_FETCH_LIMIT=200
GEM_URL=https://bidplus.gem.gov.in/all-bids
GEM_MAX_PAGES=40
GEM_MAX_LINKS_PER_PAGE=300
